# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# Visual Studio hidden folder
.vs

# Visual Studio Preferences
Mario.vcxproj
Mario.vcxproj.filters
Mario.vcxproj.user

# Visual Studio debug files and folders
x64

# Resharper dotsettings
Mario.sln.DotSettings.user

# Mario screens
dkong_*

# Github copilot
.github
